
.card-hover{
    img{
        transform: scale(1);
        transition: 0.4s all ease-in-out;
    }
    &:hover{
        @include media-breakpoint-up(md) {
            img{
                transform: scale(1.1);
            }
        }
    }
}


.news-card{
    .news-card-img{
        height: 340px;
    }
    .read-more{
        font-size: 22px;
    }
}

.news-list-small-card{
    h2{
        font-size: 36px;
        @include media-breakpoint-down(md) {
            font-size: 34px;
        }
    }

    p{
        @include media-breakpoint-up(md) {
            font-size: 17px
        }
    }
    .read-more{
        @include media-breakpoint-up(md) {
            font-size: 17px
        }
    }
}

.news-large-card{
    .news-card-img{
        @include media-breakpoint-up(md) {
            height: 500px;
        }
        @include media-breakpoint-up(lg) {
            height: 640px;
        }
    }

    h2{
        @include media-breakpoint-up(md) {
            font-size: 47px;
        }
    }
}