.top-footer{
    @include media-breakpoint-down(md) {
        .text-title{
            font-size: 40px;
        }

        .newsletter-title{
            font-size: 28px;
        }

        .newsletter-box .text-title{
            font-size: 20px;
            width: 100px;
        }
    }
}


.newsletter-box{
    input{
        color: #84B8CA;
        background: transparent;
        border: none;
        

        &::placeholder{
            color: #84B8CA;
        }
    }
    .newsletter-submit{
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;

        &:hover{
            border-color: $primary;
        }
    }
}

.bottom-footer {
    border-top: 2px solid $primary;

    .foooter-menu-items{
        border-bottom: 1px solid transparent;
        margin-bottom: 5px;
        display: inline-block;

        &:hover,
        &.active{
            border-color: $primary;
        }
    }

    .social-icon{
        a{
            transform: translateY(0px);

            &:hover{
                transform: translateY(-10px);
            }
        }
    }

    @include media-breakpoint-down(md) {
        .policy-text{
            font-size: 15px;
            line-height: 30px;
        }

        .footer-menu{
            display: grid !important;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 50px  20px;
        }
    }
}