body.fixed-bg{
    position: fixed;
}

header{
    .humburger-icon{
        left: 30px;
        top: 35px;
        z-index: 99;
    }
}

.megamenu-drawer{
    background-color: $light;
    left: 0px;
    top: 0px;
    z-index: 999;
    max-width: 80%;
    width: 100%;
    padding: 100px 150px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    transform: scaleX(90%);
    transform-origin: center left;
    
    @include media-breakpoint-down(md) {
        padding: 100px 35px;
        max-width: 100%;
    }

    @include media-breakpoint-between(md, lg) {
        padding: 100px 35px;
    }

    &.show{
        transform: scaleX(100%);
        visibility: visible;
        opacity: 1;
    }

    .megamenu-item,
    .sub-megamenu-item{
        font-size: 24px;
        margin-bottom: 7px;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: 0.2s all ease-in-out;

        &:hover,
        &.open{
            border-color: $primary;
        }

        @include media-breakpoint-down(md) {
            font-size: 30px;
        }
    }

    .sub-megamenu {
        position: absolute;
        left: 200px;
        top: 0;
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        
        @include media-breakpoint-down(md) {
            left: 160px;
        }

        &.show{
            visibility: visible;
            opacity: 1;
        }
    }

    .close-trigger{
        position: absolute;
        width: 65px;
        height: 65px;
        top: 30px;
        right: 25px;
        z-index: 99;
        transition: 0.2s all ease-in-out;
        
        @include media-breakpoint-down(md) {
            width: 55px;
            height: 55px;
        }

        &:hover{
            transform: rotate(90deg);
        }
    }
}