//home page
.hero-logo{
    padding: 75px;
    @include media-breakpoint-down(md) {
        padding: 60px;
    }
}

.tabs-slide{
    .tabs-slide-box{
        width: 80%;
        max-width: 800px;
    }

    .sub-menu-title{
        border-bottom: 1px solid transparent;

        &.open{
            border-color: $white;
        }
    }

    .slide-sub-menu{
        display: none;

        &.show{
            display: flex;
            justify-content: center;
        }

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 100%;
            transform: translateX(-25%);
            z-index: 1;
        }
    }

    .tabs-slide-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;

        img{
            display: none;

            &.show{
                display: block;
            }
        }   
    }

    .slide-description{
        display: none;
        transform: translateX(-50%);
        
        @include media-breakpoint-up(md) {
            &.show{
                display: block;
            }
        }
    }
}
// END home page


//our story page
.hero-section-story{
    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
    }
    h1{
        font-size: 65px;

        @include media-breakpoint-down(md) {
            font-size: 47px;
        }
    }
}


.our-story-menu{
    bottom: 50px;

    a{
        border-bottom: 1px solid transparent;
        
        @include media-breakpoint-down(md) {
            font-size: $bodyXS;
        }

        &:hover{
            border-color: $white;
        }
    }
}
// END our story page