//home page
.hero-logo{
    padding: 75px;
    @include media-breakpoint-down(md) {
        padding: 60px;
    }
}

.tabs-slide{
    .tabs-slide-box{
        width: 80%;
        max-width: 800px;
    }

    .sub-menu-title{
        border-bottom: 1px solid transparent;

        &.open{
            border-color: $white;
        }
    }

    .slide-sub-menu{
        display: none;

        &.show{
            display: flex;
            justify-content: center;
        }

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 100%;
            transform: translateX(-25%);
            z-index: 1;
        }
    }

    .tabs-slide-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}
// END home page