//home page
.hero-logo {
    padding: 75px;

    @include media-breakpoint-down(md) {
        padding: 60px;
    }
}

.tabs-slide {
    .tabs-slide-box {
        width: 80%;
        max-width: 800px;
    }

    .sub-menu-title {
        border-bottom: 1px solid transparent;

        &.open {
            border-color: $white;
        }
    }

    .slide-sub-menu {
        display: none;

        &.show {
            display: flex;
            justify-content: center;
        }

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 100%;
            transform: translateX(-25%);
            z-index: 1;
        }
    }

    .tabs-slide-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;

        img {
            display: none;

            &.show {
                display: block;
            }
        }
    }

    .slide-description {
        display: none;
        transform: translateX(-50%);

        @include media-breakpoint-up(md) {
            &.show {
                display: block;
            }
        }
    }
}

// END home page


//our story page
.hero-section-with-content {
    @include media-breakpoint-down(md) {
        padding-bottom: 100px;
    }

    h1 {
        font-size: 65px;

        @include media-breakpoint-down(md) {
            font-size: 47px;
        }
    }
}


.hero-section-bottom-box {
    bottom: 50px;

    a {
        border-bottom: 1px solid transparent;

        @include media-breakpoint-down(md) {
            font-size: $bodyXS;
        }

        &:hover {
            border-color: $white;
        }
    }
}

.our-story-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    @include media-breakpoint-down(md) {
        display: block;
    }

    .our-story-img2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .our-story-img1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .our-story-img3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.story-half-section {
    img.story-half-section-bg {
        @include media-breakpoint-down(md) {
            height: 100vh !important;
        }
    }

    .story-section-img-box {
        width: calc(100% - 48px);
        max-width: 390px;
        max-height: 390px;
        transform: translateY(-50%);

        @include media-breakpoint-down(md) {
            max-width: 340px;
            max-height: 340px;
        }
    }

    &.responsive-story-img-bg {
        @include media-breakpoint-down(md) {
            img.story-half-section-bg {
                height: 500px !important;
            }
        }
    }

    @include media-breakpoint-between(md, xl) {
        .text-title {
            font-size: 32px;
        }
    }
}

.links-block {
    padding: 18px 0px;
    gap: 16px;

    @include media-breakpoint-down(md) {
        gap: 12px;
    }
}

.links-block-box {
    width: 33.33%;
    flex-grow: 1;
    height: 445px;

    &:hover {
        img {
            transform: scale(2.8);
            transform-origin: bottom center;
        }
    }

    @include media-breakpoint-between(md, lg) {
        height: 320px;
    }

    @include media-breakpoint-down(md) {
        height: 420px;
    }
}

// END our story page

// filteration page
.filteration-product-card{
    h2{
        font-size: 118px;

        @include media-breakpoint-down(md) {
            font-size: 70px;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: 80px;
        }

        sup{
            top: -0.9em;
            font-size: 55px;
            @include media-breakpoint-down(md) {
                font-size: 40px;
            }
        }
    }
    p{
        font-size: 34px;
        @include media-breakpoint-down(lg) {
            font-size: 24px;
        }
    }
}

// END filteration page